body {
    background: black;
    background-image: url(https://data.1freewallpapers.com/detail/space-stars-sky-night-astronomy.jpg);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.img {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
}
.tituloHeader {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
.subtituloHeader {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: xx-large;
}
a {
    color: yellow;
}
tr {
    color: whitesmoke;
    font-weight: bold;
    line-height: 0px;
}
#botonEnviar {
    top: 1%;
}