body {
    background: black;
    background-image: url(https://data.1freewallpapers.com/detail/space-stars-sky-night-astronomy.jpg);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}
.img {
    display: inline-block;
    vertical-align: top;
    width: 15em;
    border-width: 0.1em;
    border-style: solid;
    border-color: RGB(40, 40, 40);
}
.tituloHeader {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: xx-large;
}
.subtituloHeader {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: xx-large;
}
a {
    color: yellow;
}
tr {
    color: whitesmoke;
    font-weight: bold;
    line-height: 0em;
}
#botonEnviar {
    top: 1%;
}