<div class="banner">
    <h4>Contacto</h4>
    <button id="contacto" class="btnMouse" (click)="toggleMenu()">{{showMenu ? '-' : '+'}}</button>
</div>
<section 
    [ngClass]="{'showMenu': showMenu, 'hideMenu': !showMenu}"    
    class="formulario"
    id="contenidoContacto">
    <div>
        <ul>
            <li class="textoIzquierda">
                <label for="mensaje">Mensaje: </label>
            </li>
            <li>
                <textarea [(ngModel)]="message" (ngModelChange)="saveData()" id="mensaje" name="Mensaje" placeholder="Aquí ingresa tu mensaje, y luego presiona contactar."></textarea>
            </li>
        </ul>
        <ul>
            <li class="textoIzquierda"></li>
            <li>
                <button class="boton contactar" id="contactar" (click)="sendMessage('whatsapp')">Contactar por WhatsApp</button>
            </li>
            <li>
                <button class="boton contactar" id="email" (click)="sendMessage('email')">Contactar por email</button>
            </li>
        </ul>
    </div>
</section>
