@font-face {
    font-family: 'Kaisei Decol';
    src: url('../fonts/Kaisei_Decol/KaiseiDecol-Bold.ttf') format('truetype'),
        url('../fonts/Kaisei_Decol/KaiseiDecol-Medium.ttf') format('truetype'),
        url('../fonts/Kaisei_Decol/KaiseiDecol-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'),
        url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-Black.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-BlackItalic.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-BoldItalic.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-ExtraLight.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-Italic.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-LightItalic.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-MediumItalic.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-Thin.ttf') format('truetype'),
        url('../fonts/Montserrat/static/Montserrat-ThinItalic.ttf') format('truetype');
}

.icon-test:before {
    content: "\0000";
}