@import "fonts";

$text-color: #4B4B4B;
$orange-color: #D0AA6E;
$pink-color: #F6B3BE;
$white-color: #F8F4F5;
$background-color: transparent;
$gray-color: #A2A695;

* {
    font-family: 'Montserrat', sans-serif;
}