<div id="todo">
    <header>
        <section id="barraPrincipal">
            <ul id="contenedorBarra">
                <li>
                    <img id="perfilFoto" src="assets/images/miFoto.jpg" alt="Mi foto">
                </li>
                <li>
                    <h1>Guillermo Gigeroa</h1>
                </li>
                <li>
                    <p class="textoCentrado">
                        Programador autodidacta y estudiante de
                        <i><b>
                                Tecnicatura
                                Universitaria en Programación
                            </b></i>
                        en la UTN Facultad Regional General Pacheco.
                    </p>
                </li>
            </ul>
        </section>
    </header>
    <app-skills></app-skills>
    <div class="banner">
        <h4>Mis páginas</h4>
        <button id="redes" class="btnMouse">-</button>
    </div>
    <section id="redesSociales">
        <ul>
            <li>
                <ul class="carta">
                    <li>
                        <a href="https://github.com/GuillermoGigeroa" target="_blank">
                            <img src="assets/images/logoGitHub.jpg" alt="GitHub">
                        </a>
                    </li>
                    <li>
                        <a class="boton" href="https://github.com/GuillermoGigeroa">Visitar</a>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="carta">
                    <li>
                        <a href="https://www.linkedin.com/in/guillermogigeroa" target="_blank">
                            <img src="assets/images/logoLinkedIn.png" alt="LinkedIn">
                        </a>
                    </li>
                    <li>
                        <a class="boton" href="https://www.linkedin.com/in/guillermogigeroa" target="_blank">
                            Visitar
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="carta">
                    <li>
                        <a href="https://www.instagram.com/guille.gigeroa" target="_blank">
                            <img src="assets/images/logoInstagram.jpg" alt="Instagram">
                        </a>
                    </li>
                    <li>
                        <a class="boton" href="https://www.instagram.com/guille.gigeroa" target="_blank">
                            Visitar
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="carta">
                    <li>
                        <a href="https://es-la.facebook.com/gigeroa" target="_blank">
                            <img src="assets/images/logoFacebook.png" alt="Facebook" target="_blank">
                        </a>
                    </li>
                    <li>
                        <a class="boton" href="https://es-la.facebook.com/gigeroa" target="_blank">
                            Visitar
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <div class="banner">
        <h4>Contacto</h4>
        <button id="contacto" class="btnMouse">-</button>
    </div>
    <section class="formulario" id="contenidoContacto">
        <div>
            <div id="contenedorEaster">
                <h2 id="easterEgg" class="easterEgg">&nbsp;</h2>
            </div>
            <!-- Para activar el easter egg, escriba en la caja de contacto -->
            <ul>
                <li class="textoIzquierda">
                    <label for="mensaje">Mensaje: </label>
                </li>
                <li>
                    <textarea id="mensaje" name="Mensaje" placeholder="Mensaje"></textarea>
                </li>
            </ul>
            <ul>
                <li class="textoIzquierda"></li>
                <li>
                    <button class="boton contactar" id="contactar">Contactar por WhatsApp</button>
                </li>
                <li>
                    <button class="boton contactar" id="email">Contactar por email</button>
                </li>
            </ul>
        </div>
    </section>
    <script src="../assets/js/jquery-3.5.1.js"></script>
    <script src="../assets/js/comportamiento.js"></script>
</div>