<div id="todo">
    <header>
        <section id="barraPrincipal">
            <ul id="contenedorBarra">
                <li>
                    <img id="perfilFoto" src="assets/images/miFoto.jpg" alt="Mi foto">
                </li>
                <li>
                    <h1>Guillermo Gigeroa</h1>
                </li>
                <li>
                    <p class="textoCentrado">
                        Programador autodidacta y estudiante de
                        <i><b>
                                Tecnicatura
                                Universitaria en Programación
                            </b></i>
                        en la UTN Facultad Regional General Pacheco.
                    </p>
                </li>
            </ul>
        </section>
    </header>
    <app-skills></app-skills>
    <app-pages></app-pages>
    <app-contact></app-contact>
</div>