* {
    transition: .3s;
}

.btnMouse {
    font-family: Arial, Helvetica, sans-serif !important;
}

.showMenu {
    position: relative;
    left: 0;
}

.hideMenu {
    position: absolute;
    left: -500em;
}

@keyframes animation-in {
    0% {
    }
    100% {
    }
}
