<div class="banner">
    <h4 class="banner-title">Mis habilidades</h4>
    <button class="btn btn-outline-light" (click)="toggleMenu()">
        {{showMenu ? '↑' : '↓'}}
    </button>
</div>
<div [ngClass]="{'showMenu': showMenu, 'hideMenu': !showMenu}">
    <div class="skills-section">
        <div class="skills-card">
            <h5>Formación académica</h5>
            <ul class="skills-list">
                <li>
                    Facultad Regional General Pacheco – Pacheco, Buenos Aires.<br>
                    <i>Tecnicatura Universitaria en Programación.</i><br>
                    (Febrero 2019 – Actualidad)
                </li>
                <li>
                    Instituto General Belgrano – Belén de Escobar, Buenos Aires.<br>
                    <i>Bachiller en Economía y Administración.</i><br>
                    (2007 – 2013)
                </li>
            </ul>
        </div>
        <div class="skills-card">
            <h5>Lenguajes y conocimientos técnicos</h5>
            <ul class="skills-list">
                <li>✔ Angular</li>
                <li>✔ Java</li>
                <li>✔ Python</li>
                <li>✔ SQL</li>
                <li>✔ C++</li>
                <li>✔ C#</li>
                <li>✔ CSS</li>
                <li>✔ Git</li>
                <li>✔ Boostrap</li>
                <li>✔ JQuery</li>
                <li>✔ Typescript</li>
                <li>✔ Javascript</li>
                <li>✔ ASP.net</li>
                <li>✔ HTML</li>
            </ul>
        </div>
        <div class="skills-card">
            <h5>Software</h5>
            <ul class="skills-list">
                <li>✔ Eclipse</li>
                <li>✔ Visual Studio Code</li>
                <li>✔ Postman</li>
                <li>✔ PyCharm</li>
                <li>✔ SQL Server</li>
                <li>✔ Code::Blocks</li>
                <li>✔ SharpDevelop</li>
                <li>✔ Visual Studio .Net framework</li>
                <li>✔ CorelDraw</li>
                <li>✔ Photoshop</li>
            </ul>
        </div>
        <div class="skills-card">
            <h5>Paquete Microsoft Office</h5>
            <ul class="skills-list">
                <li>✔ Excel</li>
                <li>✔ Word</li>
                <li>✔ PowerPoint</li>
                <li>✔ Outlook</li>
            </ul>
        </div>
        <div class="skills-card">
            <h5>Sistemas Operativos</h5>
            <ul class="skills-list">
                <li>✔ Microsoft Windows: 98, XP, Vista, Server, 7, 8, 10, 11<br>GUI & CLI: PowerShell, CMD, Bash</li>
                <li>✔ Linux: Debian, Porteus, Mint, Android<br>GUI & CLI: Bash.</li>
            </ul>
        </div>
        <div class="skills-card">
            <h5>Idiomas</h5>
            <ul class="skills-list">
                <li>✔ Español (Nativo)</li>
                <li>✔ Inglés (Técnico)</li>
            </ul>
        </div>
        <div class="skills-card">
            <h5>Más conocimientos</h5>
            <ul class="skills-list">
                <li>✔ Visual Basic Scripting.</li>
                <li>✔ Visual Basic for Aplications en Microsoft Excel.</li>
                <li>✔ Mecanografía de alta velocidad.</li>
                <li>✔ Programación orientada a objetos, estructurada, orientada a aspectos, modular, orientada a
                    eventos, secuencial.</li>
            </ul>
        </div>
    </div>
</div>