<div class="banner">
    <h4>Mis habilidades</h4>
    <button id="datos" class="btnMouse" (click)="toggleMenu()">{{showMenu ? '-' : '+'}}</button>
</div>
<div
    [ngClass]="{'showMenu': showMenu, 'hideMenu': !showMenu}"
    id="contenedorDatos">
    <div id="datosAcademicos">
        <div class="linea"></div>
        <section>
            <ul>
                <li>
                    <h5>
                        <b>
                            Formación académica:
                        </b>
                    </h5>
                </li>
                <li class="cajaEstudios">
                    Facultad Regional General Pacheco – Pacheco, Buenos Aires.<br>
                    <i>
                        Tecnicatura Universitaria en
                        Programación.
                    </i>
                    <br>(Febrero 2019 – Actualidad)
                </li>
                <li class="cajaEstudios">
                    Instituto General Belgrano – Belén de Escobar, Buenos Aires.<br>
                    <i>
                        Bachiller en Economía y
                        Administración.
                    </i>
                    <br>(2007 – 2013)
                </li>
            </ul>
        </section>
        <div class="linea"></div>
        <section>
            <ul>
                <li>
                    <h5>
                        <b>
                            Mis conocimientos:
                        </b>
                    </h5>
                </li>
                <li>
                    <ul>
                        <li>
                            <ul>
                                <li>
                                    <h6>Lenguajes y conocimientos técnicos:</h6>
                                </li>
                                <li>✔ C#</li>
                                <li>✔ C++</li>
                                <li>✔ Java</li>
                                <li>✔ SQL</li>
                                <li>✔ ASP.net</li>
                                <li>✔ Python</li>
                                <li>✔ Javascript</li>
                                <li>✔ Typescript</li>
                                <li>✔ JQuery</li>
                                <li>✔ Boostrap</li>
                                <li>✔ CSS</li>
                                <li>✔ HTML</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <h6>Software:</h6>
                                </li>
                                <li>✔ Visual Studio .Net framework</li>
                                <li>✔ Eclipse</li>
                                <li>✔ SQL Server</li>
                                <li>✔ SharpDevelop</li>
                                <li>✔ PyCharm</li>
                                <li>✔ Code::Blocks</li>
                                <li>✔ Postman</li>
                                <li>✔ Visual Studio Code</li>
                                <li>✔ CorelDraw</li>
                                <li>✔ Photoshop</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <h6>Paquete Microsoft Office:</h6>
                                </li>
                                <li>✔ Excel avanzado (con macros)</li>
                                <li>✔ Word avanzado</li>
                                <li>✔ PowerPoint intermedio</li>
                                <li>✔ Outlook intermedio</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <h6>Sistemas Operativos:</h6>
                                </li>
                                <li>
                                    ✔ Microsoft Windows: 98, XP, Vista, 7, 8, 10<br>
                                    GUI avanzado, CLI: CMD intermedio. (Autodidacta)
                                </li>
                                <li>
                                    ✔ Linux: Debian, Porteus, Mint, Android<br>
                                    GUI intermedio, CLI: Bash intermedio. (Autodidacta)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <h6>Idiomas</h6>
                                </li>
                                <li>✔ Español (Nativo)</li>
                                <li>✔ Inglés (Técnico)</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <h6>Más conocimientos:</h6>
                                </li>
                                <li>
                                    ✔ Git – desde consola Bash.
                                    (Autodidacta. Utilizando actualmente con GitHub)
                                </li>
                                <li>
                                    ✔ Visual Basic Scripting - en SO Microsoft Windows.
                                    (Autodidacta. Experiencia 2017 – Actualidad)
                                </li>
                                <li>
                                    ✔ Visual Basic for Aplications en Microsoft Excel.
                                    (Autodidacta. Experiencia 2017 – Actualidad)
                                </li>
                                <li>
                                    ✔ Mecanografía de alta velocidad.
                                    (Teclados QWERTY. Experiencia 2007 – Actualidad)
                                </li>
                                <li>
                                    ✔ Programación orientada a objetos, estructurada, orientada a aspectos, modular, orientada a eventos, secuencial.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <div class="linea"></div>
    </div>
</div>