@import "assets/scss/styles";

body {
    background: black;
    background-image: url(assets/images/space.jpg);
    background-size: contain;
    color: white;
    padding: 0;
    margin: 0;
}

.banner .btn {
    margin-left: 5px;
    border-radius: 100% !important;
    font-weight: bolder;
}