@use "assets/scss/styles";

body {
    color: white;
    padding: 0;
    margin: 0;
    background: black;
    background-image: url(assets/images/space.png);
    background-repeat: repeat;
    background-size: auto;
    background-position: 0 0;
    animation: moveBackground 30s linear infinite;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 300px 1000px;
    }
}

.banner .btn {
    margin-left: 5px;
    border-radius: 100% !important;
    font-weight: bolder;
}

.banner-title {
    margin-right: 10px;
}